.cards {
  border: solid 1px black;
  box-shadow: 0px 20px 50px 0px #3c3c3b12;
  margin: 5px;
  padding: 10px;
  width: 200px;
  height: 200px;
  align-items: center;
}

.card-button {
  width: 200px;
  margin: 5px;
}
